@model IEnumerable<DrawStudent>
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject UserManager<AppUser> userManager

@{
    Layout = null;
}
<!DOCTYPE html>

<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Masonry Responsive Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/templatemo-style.css">
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <!--
    Masonry Template
    http://www.templatemo.com/preview/templatemo_434_masonry
    -->
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>

    <div class="content-bg"></div>
    <div class="bg-overlay"></div>
    <div class="site-top">
        @if (User.IsInRole("Teacher"))
        {
            <h1 class="h1-lbr" style="
                font-size: 50px;
                padding-top: 20px;
                font-family: math;
                text-align: center;">
                Phòng trưng bày của @Model.FirstOrDefault().Name lớp : @Model.FirstOrDefault().Class
            </h1>
        }
        else
        {
            <h1 class="h1-lbr" style="
            font-size: 50px;
            padding-top: 20px;
            font-family: math;
            text-align: center;">
                Phòng trưng bày của @Model.FirstOrDefault().Name
            </h1>
        }

    </div>
    <div class="main-posts">
        <div class="container">
            <div class="row">
                <div class="blog-masonry masonry-true">
                    @foreach (var i in Model)
                    {
                        <div class="post-masonry col-md-4 col-sm-6">
                            <div class="post-thumb">
                                <img src="~/images/pictureDrawn/@i.Picture" alt="">
                                <div class="title-over">
                                    <h4>@i.Name lớp : @i.Class</h4>
                                </div>
                                <div class="post-hover text-center">
                                    <div class="inside">
                                        <h4>@i.Name</h4>
                                        <p>Lớp : @i.Class </p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.post-masonry -->
                    }
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/plugins.min.js"></script>
    <script src="~/js/main.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Preloader -->
    <script type="text/javascript">
        //<![CDATA[
        $(window).load(function () { // makes sure the whole site is loaded
            $('#loader').fadeOut(); // will first fade out the loading animation
            $('#loader-wrapper').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
            $('body').delay(350).css({ 'overflow-y': 'visible' });
        })
        //]]>
    </script>
    <!-- templatemo 434 masonry -->
</body>
</html>